.App {
  text-align: center;
}

.subreddit-banner-container{
  width: 100vw;
  height: 20px;
  background-color: #F0F0F0;
  border-bottom: 1px solid black;
  display: flex;
  
}

.text {
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

.my-subreddits{
  display: flex;
  justify-content: row;
} 

.subreddits-list{
  display: flex;
  justify-content: row;
}

.blue-bar{
  width: 100vw;
  height: 50px;
  background-color: #CEE3F8;
  }

  .snoo-and-reddit-logo{
    background-image: url('./Assets/sprite.png');
    background-position: 5px -1320px;
    background-repeat: no-repeat;
    height: 45px;
    width: 120px;
  }