.App {
  text-align: center;
  font: normal x-small verdana,arial,helvetica,sans-serif;
}

.subreddit-banner-container{
  width: 100vw;
  height: 20px;
  background-color: #F0F0F0;
  border-bottom: 1px solid black;
  display: flex;
  
}

.text {
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

.my-subreddits{
  display: flex;
  justify-content: row;
} 

.subreddits-list{
  display: flex;
  justify-content: row;
}

.blue-bar{
  width: 100vw;
  height: 50px;
  background-color: #CEE3F8;
  display: flex;
  flex-direction: row;
}

.blue-bar-nav {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 72px;
  top: 14px;
}
.snoo-and-reddit-logo{
  background-image: url('./Assets/sprite.png');
  background-position: 5px -1320px;
  background-repeat: no-repeat;
  height: 45px;
  width: 120px;
}

.blue-bar-nav{
  display: flex;
  flex-direction: row;
  height: 18px;
}

.tab{
  color: #369;
  font-weight: bold;
  background-color: #EFF7FF; 
}

.userinfo-container{
  background-color: #EFF7FF;
  height: 20px;
  position: relative;
  left: 408px;
  bottom: -30px;

}

.message-icon{
    background-position: 0px -1687px;
    background-repeat: no-repeat;
    
}


.footer-container{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-nav-box{
  border: 1px #E0E0E0 solid;
  border-radius: 10px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: left;
  
}

 ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: #777;
  font-size: 18px;
  margin-bottom: 5px;
  text-align: left;
  
}

li {    
  color: #369;
  flex-direction: column;  
  text-align: left;
  font-size: 14px;
}

.footer-container p {
  font-size: 10px;
  color: #808080;
}

/* home component */

.home-container{
  display: flex;
  width: 80vw;
  flex-direction: column;
  
}

.post-container{
  display: flex;
}

.post-text-container{
  display: flex;
  flex-direction: column;
}
.post-title{
  color: #0000ff;
  font-size: medium;
  font-weight: normal;
  margin-bottom: 1px;
}